@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
/*font-family: 'Caprasimo', cursive;;*/

/*reseteo css*/
*{padding: 0;
margin: 0;
box-sizing: border-box;}

.fondo-general {
    background-color:rgb(48, 25, 81);
}

/*formato para todos los titulos*/
h1,h2,h3,h4,h5,h6,li {
    font-family: 'Caprasimo', cursive;
  }
 h1,h2 {
    font-size: 48px;
 }

/*banner hasta fila 46*/

.banner-header {
    display: flex;
}

.imagenes-banner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.banner-letras {
    width: 100%;
    object-fit: cover;
    margin-top: 20px;
}

.banner-cara {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/*nav hasta fila 87*/

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(220, 136, 10);
    border: outset 10px black;
    border-radius: 10px;
    margin: 15px;
}

.nav-bar-desplegable {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(220, 136, 10);
    border: outset 10px black;
    border-radius: 10px;
    margin: 15px;
}

ul  li {
    list-style: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Caprasimo', cursive;
    color: black;
    margin: 10px;
}

.nav-bar-css {
    background-color: rgb(220, 136, 10);
}

.menu-burger {
    border-color: black;
}

/*main index*/

.main-index {
    display: flex;
    flex-direction: column;
}

.area-principal-index {
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 136, 10);
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    border-style: outset;
    border-color: black;
    border-width: 10px;
}

.imagen-izq-index {
    width: 100%;
    height: 40%;
    object-fit: cover;
}