@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Yuji+Hentaigana+Akebono&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fondo-general {
  background-image: linear-gradient(to right, rgb(245, 177, 18), rgb(174, 30, 30));
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Caprasimo", cursive;
  color: black;
}

h1, h2 {
  font-size: 40px;
}

p, li {
  color: black;
}

.banner-header {
  display: flex;
  height: fit-content;
}
.banner-header .imagenes-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 15px;
}
.banner-header .imagenes-banner .banner-letras {
  width: 100%;
  height: 100%;
  object-fit: 0;
  margin-top: 20px;
}
.banner-header .imagenes-banner .banner-cara {
  width: 100%;
  height: 25%;
  object-fit: cover;
  border-radius: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(220, 136, 10);
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  border-style: outset;
  border-color: black;
  border-width: 10px;
}

nav ul li {
  list-style: none;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: "Caprasimo", cursive;
  color: black;
  margin: 10px;
}

.nav-link {
  transition: 0.3s;
}

.nav-bar-css {
  background-color: rgb(220, 136, 10);
}
.nav-bar-css .menu-burger {
  border-color: black;
}

.animation-gif {
  display: none;
}

footer {
  background-color: rgb(220, 136, 10);
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  border-style: outset;
  border-color: black;
  border-width: 10px;
  display: flex;
}
footer .area-footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}
footer .texto-footer {
  display: flex;
}
footer .boton-footer img, footer .boton-footer {
  display: flex;
  width: 100px;
  height: 100px;
}

.main-index {
  display: flex;
  flex-direction: column;
}
.main-index .area-principal-index {
  display: flex;
  flex-direction: column;
  background-color: rgb(220, 136, 10);
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  border-style: outset;
  border-color: black;
  border-width: 10px;
}
.main-index .area-principal-index .imagen-izq-index {
  width: 100%;
  height: 40%;
  object-fit: cover;
}
.main-index .area-principal-index .texto-area-principal-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main-index .area-derecha-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(220, 136, 10);
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  border-style: outset;
  border-color: black;
  border-width: 10px;
}

.labels-historia, #carouselExampleCaptions, .sector-der-historia {
  background-color: rgb(220, 136, 10);
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  border-style: outset;
  border-color: black;
  border-width: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#carouselExampleCaptions {
  height: fit-content;
}

.sector-der-historia {
  justify-content: flex-start;
}

.labels-historia ul a, .labels-historia ul {
  color: black;
  text-decoration: none;
  list-style: none;
  font-family: "Caprasimo", cursive;
  color: black;
}

.carousel-caption {
  position: initial;
}

.area-sup-jera {
  background-color: rgb(220, 136, 10);
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  border-style: outset;
  border-color: black;
  border-width: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: none;
}

.labels-jerarquia, .sector-der-jerarquia {
  background-color: rgb(220, 136, 10);
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  border-style: outset;
  border-color: black;
  border-width: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.labels-jerarquia ul a, .labels-jerarquia ul {
  color: black;
  text-decoration: none;
  list-style: none;
  font-family: "Caprasimo", cursive;
  color: black;
}

.imagen-area-sup-jera {
  width: 100%;
  height: 100%;
}

.sector-inf-texto, .cards-misiones {
  background-color: rgb(220, 136, 10);
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  border-style: outset;
  border-color: black;
  border-width: 10px;
}

.cards-misiones img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.cards-misiones {
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
}

.letra-mision p {
  font-family: "Yuji Hentaigana Akebono", cursive;
  font-size: 200px;
  text-align: center;
}

.seccion-bandas-sonoras {
  background-color: rgb(220, 136, 10);
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  border-style: outset;
  border-color: black;
  border-width: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.seccion-bandas-sonoras .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-style: solid;
  border-color: black;
  gap: 30px;
  position: relative;
  width: auto;
  height: fit-content;
  background-color: rgb(220, 136, 10);
  transition: 0.3s;
}
.seccion-bandas-sonoras .card .card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px;
}
.seccion-bandas-sonoras .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 576px) {
  .fondo-general {
    background-image: url(../images/naruto-sasuke-fondo-web.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  .banner-header .imagenes-banner {
    display: flex;
    flex-direction: row;
  }
  .banner-header .imagenes-banner .banner-letras {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }
  .banner-header .imagenes-banner .banner-cara {
    width: 60%;
    height: 70%;
    object-fit: cover;
  }
  footer .area-footer {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .main-index .area-principal-index {
    flex-direction: row;
    height: 550px;
  }
  .main-index .area-principal-index .imagen-izq-index {
    width: 50%;
    height: 100%;
  }
  .main-index .area-principal-index .texto-area-principal-index {
    width: 50%;
    padding: 10px;
    overflow-y: scroll;
    scroll-behavior: auto;
    height: 500px;
    justify-content: flex-start;
  }
  .main-historia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
  }
  .labels-historia {
    grid-column: span 1;
  }
  .carousel-caption {
    grid-column: span 1;
  }
  .sector-der-historia {
    grid-column: span 2;
  }
  .main-misiones, .seccion-card-misiones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
  }
  .sector-inf-texto, .seccion-card-misiones {
    grid-column: span 2;
  }
  .cards-misiones {
    grid-column: span 1;
  }
  .cards-misiones img {
    width: 100%;
    height: 50%;
  }
  .seccion-bandas-sonoras {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
  }
  .card {
    grid-column: span 1;
  }
}
@media screen and (min-width: 992px) {
  .banner-letras:hover {
    transform: scale(1.1);
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
  .collapse {
    justify-content: center;
  }
  .nav-link:hover {
    font-size: 20px;
  }
  .animation-gif {
    background-image: url(../images/naruto-corriendo.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: absolute;
    width: 230px;
    height: 150px;
    margin-top: -270px;
    overflow: hidden;
    margin-left: -300px;
    animation-name: running;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-delay: 1s;
  }
  @keyframes running {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(900px);
    }
    100% {
      transform: translateX(1800px);
    }
  }
  .main-index {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: max-content;
  }
  .main-index .area-principal-index {
    grid-column: span 3;
    height: 700px;
  }
  .main-index .area-principal-index .texto-area-principal-index {
    height: 650px;
  }
  .main-index .area-derecha-index {
    grid-column: span 1;
  }
  .main-historia {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: auto;
    grid-template-areas: "a1 a2 a2 a2" "a1 a2 a2 a2" "a3 a2 a2 a2" "a3 a2 a2 a2";
  }
  .main-historia .labels-historia {
    grid-area: a1;
    height: fit-content;
  }
  .main-historia .sector-der-historia {
    grid-area: a2;
    height: 1000px;
    overflow-y: scroll;
  }
  .carousel-caption {
    grid-area: a3;
  }
  .area-sup-jera {
    flex-direction: row;
    gap: 20px;
  }
  .imagen-area-sup-jera {
    width: 60%;
  }
  .texto-area-sup-jera {
    width: 40%;
    text-align: center;
  }
  .main-jerarquias, .area-inferior-jerarquia {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: min-content;
  }
  .area-sup-jera, .area-inferior-jerarquia {
    grid-column: span 5;
  }
  .labels-jerarquia {
    grid-column: span 2;
    height: fit-content;
  }
  .sector-der-jerarquia {
    grid-column: span 3;
  }
  .sector-inf-texto {
    text-align: center;
  }
  .seccion-card-misiones {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-evenly;
  }
  .cards-misiones {
    width: 30%;
  }
  .seccion-bandas-sonoras {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: max-content;
  }
  .seccion-bandas-sonoras .card {
    grid-column: span 1;
  }
  .seccion-bandas-sonoras .card:hover {
    box-shadow: 5px 5px 5px 5px rgb(108, 108, 108);
    background-color: rgb(152, 93, 4);
    scale: 1.1;
    border: solid 5px black;
  }
}

/*# sourceMappingURL=style.css.map */
