.seccion-bandas-sonoras {
    @include bg-style;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .card {
        @include flex(column,center,center);
        flex-wrap: wrap;
        border-style: solid;
        border-color: black;
        gap: 30px;
        position: relative;
        width: auto;
        height: fit-content;
        background-color: $bg-color;
        transition: .3s;
        .card-img-top {
            @include img-style(100%,100%,cover);
            padding: 10px;
        }
        .card-body {
           @include flex(column,center,center)
        }
    }
}