.labels-historia , .sector-der-historia , #carouselExampleCaptions {
    background-color: rgb(220, 136, 10);
    border-radius: 10px;
    border-style: outset;
    border-color: black;
    border-width: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px;
    align-items: center;
}

.labels-historia ul a , .labels-historia ul {
    color: black;
    text-decoration: none;
    list-style: none;
    font-family: 'Caprasimo', cursive;
    color: black;
}

.carousel-caption {
    position: initial;
}