.labels-historia, #carouselExampleCaptions, .sector-der-historia {
    @include bg-style;
    @include flex(column,center, center);
}

#carouselExampleCaptions {
    height: fit-content;
}

.sector-der-historia {
    justify-content: flex-start;
}

.labels-historia ul a , .labels-historia ul {
    color: black;
    text-decoration: none;
    list-style: none;
    font-family: 'Caprasimo', cursive;
    color: black;
}

.carousel-caption {
    position: initial;
}