.main-index {
    display: flex;
    flex-direction: column;
    .area-principal-index {
        display: flex;
        flex-direction: column;
        @include bg-style;
        .imagen-izq-index {
            @include img-style(100%,40%,cover);
        }
        .texto-area-principal-index {
            @include flex(column, center, center);
            width: 100%;
        }
    }
    .area-derecha-index {
         @include flex(column, center, center);
         @include bg-style;  
    }
}