.area-sup-jera {
    @include bg-style;
    @include flex(column-reverse,center,none);
}

.labels-jerarquia , .sector-der-jerarquia {
    @include bg-style;
    @include flex(column,center,center)
}

.labels-jerarquia ul a , .labels-jerarquia ul {
    color: black;
    text-decoration: none;
    list-style: none;
    font-family: 'Caprasimo', cursive;
    color: black;
}

.imagen-area-sup-jera {
    width: 100%;
    height: 100%;
}