@media screen and (min-width: 576px) {

    //fondo sitio web
    .fondo-general {
        @if $theme == akatsuki {
            background-image: url(../images/fondo-akatsuki.jpeg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
        } @else if $theme == naruto {
            background-image: url(../images/naruto-sasuke-fondo-web.jpeg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
        } @else {
            background-image: url(../images/naruto-sasuke-fondo-web.jpeg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
        }
    }

    //banner

    .banner-header {
        .imagenes-banner {
            display: flex;
            flex-direction: row;
            .banner-letras {
              @include img-style(100%,100%,cover);
                transition: .3s;
            }
            .banner-cara {
                @include img-style(60%,70%,cover);
            }
        }
    }

    //footer

    footer {
        .area-footer {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    //main index

    .main-index {
        .area-principal-index {
            flex-direction: row;
            height: 550px;
            .imagen-izq-index {
                width: 50%;
                height: 100%;
            }
            .texto-area-principal-index {
                width: 50%;
                padding: 10px;
                overflow-y: scroll;
                scroll-behavior: auto;
                height: 500px;
                justify-content:flex-start;
            }
        }
    }

    //main historia

    .main-historia {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: max-content;
    }
    
    .labels-historia {
        grid-column: span 1;
    }
    
    .carousel-caption {
        grid-column: span 1;
    }
    
    .sector-der-historia {
        grid-column: span 2;
    }

    //main misiones

    .main-misiones , .seccion-card-misiones {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: max-content;
    }

    .sector-inf-texto, .seccion-card-misiones {
        grid-column: span 2;
    }

    .cards-misiones {
        grid-column: span 1;
    }
    .cards-misiones img {
        width: 100%;
        height: 50%;
    }

    //main bandas sonoras

    .seccion-bandas-sonoras {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: max-content;
    }

    .card {
        grid-column: span 1;
    }
}

@media screen and (min-width: 992px) {

    .banner-letras:hover{
        transform: scale(1.1);
    }
    //navbar

    nav ul {
        display: flex;
        justify-content: space-between;
    }
    
    .collapse {
        justify-content: center;
    }

    .nav-link:hover {
        font-size: 20px;
    }

    //animacion

    .animation-gif {
        @if $theme == akatsuki {
            background-image: url(../images/sasuke-corriendo.gif);
        background-attachment: fixed;
        background-repeat:no-repeat;
        background-size:cover;
        display: flex;
        position: absolute;
        width: 250px;
        height: 200px;
        margin-top: -300px;
        overflow: hidden;
        margin-left: -300px;
        animation-name: running;
        animation-iteration-count: 2;
        animation-timing-function: linear;
        animation-duration: 2s;
        animation-delay: 1s;
        } @else if $theme == naruto {
            background-image: url(../images/naruto-corriendo.gif);
        background-attachment: fixed;
        background-repeat:no-repeat;
        background-size:cover;
        display: flex;
        position: absolute;
        width: 230px;
        height: 150px;
        margin-top: -270px;
        overflow: hidden;
        margin-left: -300px;
        animation-name: running;
        animation-iteration-count: 2;
        animation-timing-function: linear;
        animation-duration: 3s;
        animation-delay: 1s;
        } @else {
            background-image: url(../images/naruto-corriendo.gif);
        background-attachment: fixed;
        background-repeat:no-repeat;
        background-size:cover;
        display: flex;
        position: absolute;
        width: 230px;
        height: 150px;
        margin-top: -270px;
        overflow: hidden;
        margin-left: -300px;
        animation-name: running;
        animation-iteration-count: 2;
        animation-timing-function: linear;
        animation-duration: 3s;
        animation-delay: 1s;
        }
    }

    @keyframes running {
        0% {
            transform: translateX(0%);
        }
        50% {
            transform: translateX(900px);
        }
        100% {
            transform: translateX(1800px);
        }
        
    }

    //main index

    .main-index {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: max-content;
        .area-principal-index {
            grid-column: span 3;
            height: 700px;
            .texto-area-principal-index {
                height: 650px;
            }
        }
        .area-derecha-index {
            grid-column: span 1;
        }
    }
    
    //main historia

    .main-historia {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-columns: auto;
        grid-template-areas: 
        'a1 a2 a2 a2'
        'a1 a2 a2 a2'
        'a3 a2 a2 a2'
        'a3 a2 a2 a2';
        .labels-historia {
            grid-area: a1;
            height: fit-content;
        }
        .sector-der-historia {
            grid-area: a2;
            height: 1000px;
            overflow-y: scroll;
        }
    }  
        
    .carousel-caption {
        grid-area: a3;
    }

    //main jerarquias

    .area-sup-jera{
        flex-direction: row;
        gap: 20px;
    }
    .imagen-area-sup-jera {
        width: 60%;
    }
    
    .texto-area-sup-jera {
        width: 40%;
        text-align: center;
    }
    
    .main-jerarquias , .area-inferior-jerarquia{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: min-content;
    }
    
    .area-sup-jera ,.area-inferior-jerarquia {
        grid-column: span 5;
    }
    
    .labels-jerarquia {
        grid-column: span 2;
        height: fit-content;
    }
    
    .sector-der-jerarquia {
        grid-column: span 3;
    }

    //main misiones

    .sector-inf-texto {
        text-align: center;
    }
    
    .seccion-card-misiones {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        justify-content: space-evenly;
    }
    
    .cards-misiones {
        width: 30%;
    }

    //main bandas sonoras

    .seccion-bandas-sonoras {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: max-content;
        .card {
            grid-column: span 1;
            &:hover {
                box-shadow: 5px 5px 5px 5px rgb(108, 108, 108);
                background-color: rgb(152, 93, 4);
                scale: 1.1;
                border: solid 5px black;
            }
        }
    }
}