footer {
    @include bg-style;
    display: flex;
    .area-footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .texto-footer {
        display: flex;
    }
    .boton-footer img , .boton-footer{
        display: flex;
        width: 100px;
        height: 100px;
    }
}