.banner-header {
    display: flex;
    height: fit-content;
    .imagenes-banner {
        @include flex(column,center,center);
        gap: 30px;
        padding: 15px;
        .banner-letras {
            @include img-style(100%,100%,0);
            margin-top: 20px;
        }
        .banner-cara {
            @include img-style(100%,25%,cover);
            border-radius: 10px;
        }
    }
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include bg-style;
}

nav ul li {
    list-style: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Caprasimo', cursive;
    color: black;
    margin: 10px;
}

.nav-link {
    transition: .3s;
}

.nav-bar-css {
    background-color: $bg-color;
    .menu-burger {
        border-color: black;
    }
}

.animation-gif {
    display: none;
}