@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fondo-general {
    @if $theme == akatsuki {
        background-image: linear-gradient( to right, rgb(216, 27, 27), black);
    } @else if $theme == naruto {
        background-image: linear-gradient(to right, rgb(245, 177, 18), rgb(174, 30, 30))
    } @else {
        background-image: linear-gradient(to right, rgb(245, 177, 18), rgb(174, 30, 30))
    }
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Caprasimo', cursive;
    color: black;
}
h1,h2 {
    font-size: 40px;
}

p, li {
    color: black;
}